/* Combined CSS file for both Item and Show components */

.container {
  width: 80%;
  margin: 4rem auto;
}

.show {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

/* Styles for both Item and Show components */

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 12px;
  background-color: #eee;
  padding: 1rem; /* Added padding */
}

.itemImage {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}
