/* Inside src/App.css */
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  padding: 15px 32px;
  margin: 4px 2px;
  border: 1px solid #eee;
  border-radius: 4px;
}

button {
  
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Darker Green */
}

